<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><em class="la la-close"></em></button>
    <!--<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
            <ul class="kt-menu__nav ">
            </ul>
        </div>
    </div>-->
    <div class="kt-header__topbar" style="margin-left: auto">
        {# include 'partials/header/notification/notification.html.twig' #}
        {# include 'partials/header/setting/setting.html.twig' #}
        {% include '@MenuTopCreator/menu.html.twig' %}
    </div>
</div>
