<button class="kt-aside-close " id="kt_aside_close_btn"><em class="la la-close"></em></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
{% include 'partials/header/menu/menu_logo.html.twig' %}
<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
        <ul class="kt-menu__nav ">
          {% include 'partials/header/menu/menu_lateral_elemento.html.twig' with {'elements': menus} %}
        </ul>
    </div>
</div>
</div>
